<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('partials/head') %>
</head>
<body>

  <%- include('partials/navigation') %>

  <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
      <h1 class="display-1">About</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, est nobis obcaecati voluptas esse incidunt at magni mollitia adipisci aperiam, tenetur veniam iure porro, explicabo aliquam ipsam nesciunt laborum cupiditate reiciendis distinctio. Cumque suscipit fuga temporibus, in laudantium non minus ipsa totam praesentium sapiente dolorum assumenda dolorem saepe inventore vitae nesciunt aliquam ullam debitis perferendis. Quo aliquam beatae rem blanditiis nihil numquam. Fuga perspiciatis libero aspernatur inventore facilis laborum accusantium tenetur provident magnam itaque aperiam impedit qui rerum unde eveniet quos, soluta molestias, perferendis deserunt? Modi adipisci sapiente distinctio rerum saepe iure excepturi placeat dolorum officiis iusto nesciunt nam ipsa, magnam cupiditate laborum beatae sint iste deleniti suscipit? Ipsa suscipit praesentium animi necessitatibus, quidem quos magni in molestias numquam magnam perferendis nisi tenetur ipsam dolores veritatis repudiandae eum id? Repellat distinctio itaque cumque ea dolorem deleniti dolores beatae. Quasi doloremque iusto eius aspernatur necessitatibus, neque natus ad illo, quo dolores corporis odit. At vel eaque eveniet culpa nihil, consectetur harum id, velit autem reprehenderit aliquam repellendus molestias? Quidem, quae autem, error dolorem tenetur iusto sit ullam atque quod nam voluptas doloribus nulla beatae consequuntur ipsum nesciunt odio. Facilis hic excepturi asperiores amet animi rem odio assumenda. Et quis nihil ex.</p>
    </section>
  </main>
     
  <%- include('partials/footer') %>
  
</body>
</html>